{% extends "base/base.html" %}
{% block titulo %}Home de Asistencias{% endblock %}
{% block contenido %}
    <h2>Portada Principal</h2>
    <h3>Descripción de la WebApp “Asistencias API REST” </h3>
    <p>
        Una Institución de beneficencia otorga distintas ayudas a personas con escasos recursos,
        según Programas definidos con anterioridad.
    </p>
    <h3>Requisitos principales:</h3>
    <ul>
        <li>Gestionar los tipos de asistencias que puede brindar un programa.</li>
        <li>Gestionar los programas que brindan asistencia directa a las personas.</li>
        <li>Gestionar las personas a quienes se le brinda asistencias.</li>
        <li>Gestionar las asistencias otorgadas a cada persona.</li>
        <li>Gestionar usuarios y roles</li>
    </ul>

    <h3>ENDPOINTS:</h3>
    <ul>
        <li>CRUD de personas.</li>
        <li>CRUD de programas que brindan asistencia directa a las personas.</li>
        <li>Otorgar una asistencia a una persona.</li>
        <li>Recuperar las asistencias otorgadas a cada persona.</li>
    </ul>

    <h3>URL del API:</h3>
    <p><a href="/api/v1/" target="_blank">/api/v1/</a></p>

    <h3>URL de Repositorio - Rama Master:</h3>
    <p><a href="https://github.com/unca-electiva/asistencias_api.git" target="_blank">https://github.com/unca-electiva/asistencias_api.git</a></p>
{% endblock %}